/* Reset */
@import url(./reset.css);
/* End of Reset */


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bebas+Neue&family=Wire+One&display=swap');
/* End of Fonts */


/* Defaults */
h1 {
    font-family: 'Bebas Neue', cursive;
}
/* End of Defaults */


/* Header */
header {
    background-image: url(../images/drift.jpg);
    background-size: cover;
    background-position: center;
}
/* End of Header */


/* Nav */
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(68, 143, 211, 0.5);
}

nav > ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* End of Nav */


/* Section Defaults */
/* End of Section Defaults */


/* Section 1 */
/* End of Section 1 */


/* Section 2 */
/* End of Section 2 */


/* Section 3 */
/* End of Section 3 */


/* Section 4 */
/* End of Section 4 */


/* Footer */
/* End of Footer */